@model IEnumerable<OnlineShopWeb.Models.CartItem>

<style>
    .cart_description h4 {
    max-width: 250px; /* Adjust this value based on your needs */
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
}
</style>

<table class="table table-condensed">
    <thead>
        <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description">Name</td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
        </tr>
    </thead>
    <tbody>

        @{
            var sum = decimal.Zero;
        }

        @if (Model != null && Model.Any())
        {

            foreach (var item in Model)
            {
                <tr id="trow_@item.ProductId">
                    <td class="cart_product">
                        <input type="checkbox" class="item-select" data-price="@item.TotalPrice" data-id="@item.ProductId">

                        <a href="/Product/Detail/@item.ProductId">
                            <img src="data:image/jpeg;base64,@item.Product.Image" alt="@item.Product.Name" style="width:150px;height:150px;object-fit:cover;" />
                        </a>
                    </td>
                    <td class="cart_description">
                        <h4><a href="">@item.Product.Name</a></h4>
                    </td>
                    <td class="cart_price">
                        <p>@item.Price</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" data-id="@item.ProductId" href=""> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
                            <a class="cart_quantity_down" data-id="@item.ProductId" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">@item.TotalPrice.ToString("N0")<sup>đ</sup></p>
                    </td>
                    <td class="cart_delete">
                        <a data-id="@item.ProductId" class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">Your cart is empty!</td>
            </tr>
        }

        <div class="fixed-footer">
            <div class="actions">
                <input type="checkbox" id="selectAll"> <label for="selectAll">Select All</label>
                <div class="btn-group">
                    <button class="btn btn-danger btnDeleteSelected">Delete Selected</button>
                    <button class="btn btn-success btnPurchase">Checkout</button>
                </div>
            </div>
            <div class="sum">
                <strong>Sum:</strong> <span id="sum">@sum.ToString("N0") <sup>đ</sup></span>
            </div>
        </div>

    </tbody>
</table>