@model IEnumerable<OnlineShopWeb.ViewModels.OrderItem>
@{
    ViewBag.Title = "Checkout";
    var userInfo = @Session["User"] as OnlineShopWeb.Models.User;
}

<!-- Checkout Page Start -->
<div class="container-fluid py-5 checkout">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form action="@Url.Action("Payment","Order")" method="POST">
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div style="display: flex; align-items: center;">
                        <input type="checkbox" id="userInfo" />
                        <label for="userInfo" style="margin-left: 5px;">User Information</label>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Full Name <sup>*</sup></label>
                        <input type="text" class="form-control" name="FullName" id="FullName" required>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Address <sup>*</sup></label>
                        <input type="text" class="form-control" name="Address" id="Address" required>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Mobile<sup>*</sup></label>
                        <input type="tel" class="form-control" name="Mobile" id="Mobile" required>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Email Address<sup>*</sup></label>
                        <input type="email" class="form-control" name="Email" id="Email">
                    </div>
                    <hr>
                    <div class="form-item">
                        <textarea name="OrderNotes" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Oreder Notes (Optional)"></textarea>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table table-centered mb-0" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center mt-2">
                                                <img src="data:image/jpeg;base64,@item.Img" alt="@item.Name" style="width:150px;height:150px;object-fit:cover;" />
                                            </div>
                                        </th>
                                        <td class="py-5"><a href="#">@item.Name</a></td>
                                        <td class="py-5" data-price="@item.Price">@item.Price.ToString("0,0")</td>
                                        <td class="py-5">
                                            <div class="input-group quantity mt-4" style="width: 100px;">
                                                <input type="text" class="form-control form-control-sm text-center border-0 input-quantity" value="@item.Quantity" readonly>
                                            </div>
                                        </td>
                                        <td class="py-5 total-price">@item.TotalPrice.ToString("0,0") đ</td>
                                    </tr>
                                }
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5" style="padding: 30px 0px;">
                                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <input type="text" class="form-control total" name="Total" value="0" readonly>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr style="height: 1px; background-color: black; border: none; margin-top: 0;" />
                    <div class="row g-4 align-items-center justify-content-center border-bottom py-3" style="margin:0px;">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="radio" class="form-check-input bg-primary border-0" id="NCB-1" name="PaymentMethod" value="NCB">
                                <label class="form-check-label" for="NCB-1">NCB</label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary placeorder">Place Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->
@section Scripts {
    <script>
        const userInfo = {
            Name: '@(userInfo?.Name ?? "")',
            Address: '@(userInfo?.Address ?? "")',
            Phone: '@(userInfo?.Phone ?? "")',
            Email: '@(userInfo?.Email ?? "")'
        };

        $(document).ready(function () {
            $('#userInfo').change(function () {
                if (this.checked) {
                    if (userInfo) {
                        $('#FullName').val(userInfo.Name || "");
                        $('#Address').val(userInfo.Address || "");
                        $('#Mobile').val(userInfo.Phone || "");
                        $('#Email').val(userInfo.Email || "");
                    } else {
                        alert("User information is not available.");
                    }
                }
                else {
                    $('#FullName, #Address, #Mobile, #Email').val("");
                    $('#FullName, #Address, #Mobile, #Email').attr('readonly', false);
                }
            });

            UpdateTotal();

            //const checkoutRequests = Object.values(
            //    JSON.parse(sessionStorage.getItem('selectedItems')) || {}
            //);

            @*$.ajax({
                url: '@Url.Action("GetOrderItem", "Order")',
                type: 'POST',
                data: JSON.stringify(checkoutRequests),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        response.data.forEach(function (item) {
                            $('tbody').prepend(`
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            <a href="#"><img src="${item.Img}" class="img-fluid rounded-circle" alt=""></a>
                                        </div>
                                    </th>
                                    <td class="py-5"><a href="#">${item.Name}</a></td>
                                    <td class="py-5" data-price="${item.Price}">${item.Price}</td>
                                    <td class="py-5">
                                        <div class="input-group quantity mt-4" style="width: 100px;">
                                            <input type="text" class="form-control form-control-sm text-center border-0 input-quantity" value="${item.Quantity}" readonly>
                                        </div>
                                    </td>
                                    <td class="py-5 total-price">${item.Total}</td>
                                </tr>
                            `);

                            UpdateTotal();
                        });
                    } else {
                        alert(response.message);
                    }
                },
                error: function (response) {
                    alert("An error occurred: " + response.statusText);
                }
            });*@

            $('form').on('submit', function (event) {
                var paymentMethodSelected = $('input[name="PaymentMethod"]:checked');
                if (paymentMethodSelected.length === 0) {
                    alert("Please select a payment method.");
                    event.preventDefault();
                }
            });
        });

        function UpdateTotal() {
            var total = 0;
            $('.total-price').each(function () {
                var subTotal = parseFloat($(this).text().replace(/[^0-9.-]+/g, "")) || 0;
                total += subTotal;
            });
            $('.total').val(total.toFixed(0));
        }
    </script>
}
