@model IEnumerable<OnlineShopWeb.Models.Product>

<style>
    /* Hot Products Controls */
    .hot-product-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: none;
        opacity: 1;
    }

        .hot-product-control.left {
            left: 0px;
        }

        .hot-product-control.right {
            right: 0px;
        }

        .hot-product-control i {
            background: none repeat scroll 0 0 #FE980F;
            color: #FFFFFF;
            font-size: 20px;
            padding: 4px 10px;
        }

    /* Remove default carousel styles */
    .carousel-control {
        background: none;
    }

    /* Hover effects */
    .hot-product-control:hover {
        opacity: 1;
    }

        .hot-product-control:hover i {
            background: #FE980F;
        }
</style>
@if (Model != null && Model.Any())
{
    <div class="recommended_items">
        <h2 class="title text-center">Hot products</h2>

        <div id="hot-product-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="margin-left:-60px">
                @{
                    var productList = Model.ToList();
                    int productCount = productList.Count;
                    for (int i = 0; i < productCount; i += 3)
                    {
                        var isActive = i == 0 ? "active" : "";
                        <div class="item @isActive">
                            @for (int j = i; j < i + 3 && j < productCount; j++)
                            {
                                var product = productList[j];

                                <div class="col-sm-4">
                                    <div class="product-image-wrapper product-hover">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <a href="/Product/Detail/@product.ProductId">
                                                    <img src="data:image/jpeg;base64,@product.Image" alt="@product.Name" style="width:150px;height:150px;object-fit:cover;" />
                                                    <p>@product.Name</p>
                                                </a>
                                                <h2>@product.Price<sup>đ</sup></h2>
                                                <button class="btn btn-default add-to-cart btnAddToCart" data-id="@product.ProductId">
                                                    <i class="fa fa-shopping-cart "></i>Add to cart
                                                </button>
                                                @*<a class="btn btn-default add-to-cart">
                                                        <i class="fa fa-shopping-cart"></i>Add to cart
                                                    </a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    }
                }
            </div>
            <a class="left hot-product-control" href="#hot-product-carousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right hot-product-control" href="#hot-product-carousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
}
else
{
    <div></div>
}