@model IEnumerable<OnlineShopWeb.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="title text-center"></h2>
<div class="col-sm-3">
    @Html.Partial("_SidebarPartial", new ViewDataDictionary(ViewData))
</div>
<div class="col-sm-9">
    <h2 class="title text-center">List products</h2>

    @if (Model == null || !Model.Any())
    {
        <div class="col-sm-12">
            <p class="text-center">Không tồn tại sản phẩm trong kho.</p>
        </div>
    }
    else
    {

        foreach (var product in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">

                            <a href="@Url.Action("Detail", "Product", new { id = product.ProductId })">
                                <img src="data:image/jpeg;base64,@product.Image" alt="@product.Name" style="width:150px;height:150px;object-fit:cover;" />
                            </a>
                            <h2>@product.Price.ToString("N0") VNĐ</h2>
                            <p>@product.Name</p>
                            <a href="#" class="btn btn-default add-to-cart btnAddToCart" data-id="@product.ProductId">
                                <i class="fa fa-shopping-cart "></i>Add to cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

