@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_SliderPartial")

<div class="col-sm-3">
    @Html.Partial("_SidebarPartial")
</div>

@*<div class="col-sm-9">
        @Html.Partial("_ProductListPartial")
    </div>*@
@Html.Action("HotProducts", "Product")

@Html.Action("GetRecommenProducts", "UserProduct")

<div class="col-sm-9 padding-right">
    <div class="features_items">
        <h2 class="title text-center">Features Items</h2>
        <div class="wrapper-product"></div>
        <div class="AP-footer">
            <button id="btn_LoadMore" class="btn btn-success">Xem Thêm</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let currentPage = 1;
        const pageSize = 3;

        function LoadMoreProducts(page) {
            $.ajax({
                type: 'GET',
                url: '/Product/loadMoreProducts',
                data: { page: page, pageSize: pageSize },
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        let products = response.products;
                        let listProducts = products.map((product) => {
                            return `
                                <div class="col-sm-4 product-conatiner" data-id = ${product.ProductId}>
                                    <div class="product-image-wrapper product-hover">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <a href="/Product/Detail/${product.ProductId}">
                                                    <img src="data:image/jpeg;base64,${product.Image}" alt="${product.Name}" style="width:150px;height:150px;object-fit:cover;" />
                                                    <p>${product.Name}</p>
                                                </a>
                                                <h2>${product.price}<sup>đ</sup></h2>
                                                <a href="#" class="btn btn-default add-to-cart btnAddToCart" data-id="${product.ProductId}">
                                                    <i class="fa fa-shopping-cart " ></i>Add to cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>`;
                        });
                        $(".wrapper-product").append(listProducts.join(""));

                        if (!response.hasMore) {
                            $('#btn_LoadMore').hide();
                        }
                    }
                },
                error: function () {
                    alert('Không thể tải thêm sản phẩm. Vui lòng thử lại sau.');
                }
            });
        }
        $(document).ready(function () {
            LoadMoreProducts(currentPage);
            //$('.wrapper-product').on('click', '.product-conatiner', function () {
            //    let id = $(this).data('id');
            //    $.ajax({
            //        type: 'POST',
            //        url: '/UserProduct/UpdateViewNum',
            //        data: { id: id },
            //        dataType: 'Json',
            //        success: function (response) {
            //            if (response.success) {
            //                alert(`Cap nhat thanh cong cho san pham co id: ${id}`)
            //            }
            //        }
            //    })
            //});
            $('#btn_LoadMore').on('click', function () {
                currentPage++;
                LoadMoreProducts(currentPage);
            });
        });
    </script>
}
